	body{
		background-color: black;
		margin-left:100px;
	}
	h2{
		font-size:30pt;
		color:#ff00e9;
	}
	h3{
		font-size:24pt;
		color:#ff00e9;
	}
	div{
		font-size:11pt;
	}
	.Peter{
		color:#00ff21;
	}
	.Dana{
		color:#00ffff;
	}
	.Mayor{
		color:#fffa00;
	}
	.Ray{
		color:#ff5e5e;
	}
	.Egon{
		color:#d972ff;
	}
	.Winston{
		color:#9ba3ff;
	}
	.Actions{
		color:white;
	}