		header{
			margin-bottom: 3rem;
		}
		p{
			line-height: 1.6;
		}
		.see-all{
			font-size: .8em;
			text-transform: uppercase;
		}
		h1{
			font-size: 2.5rem;
			font-weight: lighter;
			border-top-style: solid;
			border-color: black;
			border-width: 1px;
		}
		h2{
			font-size:1rem;
			text-transform: uppercase;
			font-weight: lighter;
		}
		img{
			width: 100%;
		}
		a div{
			font-size:.8rem;
		}
		div:nth-child(2){
			font-weight: bold;
		}
		div:nth-child(3){
			font-style: italic;
		}
		ul>.selected{
			font-weight: bold;
		}
		.cast li{
			width: 25%;
		}
		#game-of-thrones ul:after{
			content:"*";
		}
		.synopsis:before{
			content:"* In production";
			color: #999;
			font-size: .7rem;
		}